.secaoDoencas{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2.25rem;
  gap:2rem;
  &__card{
    flex:1 1 20rem;
  }
}
.secao-doencas-footer{
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
}