@import "../../variables";
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999999999 !important;
  background: linear-gradient($gradient, #fff 65vh);
  &__content {
    padding: 0 2rem;
    display: flex;
    justify-content: space-evenly;
    &__text {
      width: 60%;
      h2 {
        margin-bottom: 2.5rem;
      }
      p {
        font-size: 1.5rem;
        margin-bottom: 3rem;
      }
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .button {
        font-size: 2rem;
        width: 100%;
      }
    }
  }
}
//tablet
@media screen and (max-width: 940px) {
  .header {
    &__content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      &__text {
        width: 100%;
      }
      &__buttons {
        width: 100%;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}

//celular
@media screen and (max-width: 637px) {
  .header {
    &__content {
      &__buttons {
        flex-direction: column;
      }
    }
  }
}
