@import './reset';
@import './variables';
* {
  box-sizing: border-box;
}
::placeholder{
  font-size: 1rem;
}
html {
  font-family: 'Roboto Mono', monospace;
  color:#474747;
}
h2{
  font-size:2rem;
  font-weight: bold;
}
label{
  color:black;
}
input{
  border:1px solid $primary;
  font-size: 1.3rem;
  padding:0.2rem;
  background-color: #f2f2f2;
  border-radius: 10px;
  &:focus{
    outline: none;
    border-width: 2px;
    border-color: darken($primary,3);
  }
}
body {
  margin: 0;
}
@media screen and(max-width: 390px) {
  :root {
    font-size: 14px;
  }
}